.labelCard{
  display: inline-flex;
  position: absolute;
  width: 200px;
  z-index: 1000;
  background-color: white;
}


.Label {
  background-color: white;
  margin-left:10px;
}

.labelcard-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
 
    color: black;
}
  
  .labelcard-input-container input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

    margin-top: 8px;
  }
  
  .select-label-checkbox {
    transform: scale(1.3); 
    margin-left: 4px;
  }
  
  .labelcard-input-container button {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 4px;
  }
  
  .labelcard-input-container button:hover {
    background-color: #e9ecef;
    color: black;
  }
  
  
  .labels-list {
    display: flex;
    flex-direction: column; 
    border-radius: 4px;
    overflow: hidden;
  }
  
  .labelcard-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .labelcard-name {
    flex-grow: 1;
    margin-left: 25px;
    margin-bottom: 8px;
    border: none;
    background: none; 
  }
  
  .label-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .label-actions button {
    padding: 4px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    color: #555;
  }
  
  .label-actions button:hover {
    background-color: #e9ecef;
    color: black;
  }
  
  .heading {
    font-size: medium;
    font-weight: 500;
    margin-bottom: 15px;
    color: #403e3e ;
  }
  
  .edit-input {
    flex-grow: 1;
    border: none;
    background: transparent;
    margin-left: 25px; 
    box-shadow: none;
    appearance: none; /* Prevent default styling */
    outline: none;
  } 

